h1{
    color:orange;
}
h1::before{
    content: "Hello";
    color:palevioletred;
    font-size: 12px;
    background-color: cornflowerblue;
}
.My-favourite:hover{
    width: 5.5%;
    color:indianred;
    font-size: 30px;
    background-color: lawngreen;
}
input:focus{
    font-weight: 700;
    color:green;
    font-size: 20px;
}
li:nth-child(2n+1){
    background-color: orange;
    width:3%;              
}
a:visited{
    color:palegreen;
}
.My-favourite::after{
    content: "like";
    font-size: 15px;
    background-color: red;
}
body {
    counter-reset: section;                       /* Set a counter named 'section', and its initial value is 0. */
  }
  
  p::before {
    counter-increment: section;                   /* Increment the value of section counter by 1 */
    content: "Like " counter(section) ": ";    /* Display the word 'Section ', the value of
                                                     section counter, and a colon before the content
                                                     of each h3 */
  }
  h1::before{
      content:"❤️"
  }

  .container{
      background-color:lightcoral;
  }
  div{
      height:100px;
      width:100px;
      background-color: lightgray;
  }
  #first{
      background-color: orange;
  }
  #second{
      background-color: lightseagreen;
      position:static;
      left:100px;
      
      
  }
     
    
  #third{
      background-color: magenta;
  }